.login-box {
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #000;
    margin-top: 50px;

    border-radius: 10px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
}

.login-box .header {
    color: #FFF;
}

.logo {
    padding-bottom: 20px;
}

.login-box form {
    margin-left: 50px;
    margin-right: 50px;
}

.ui.lcfcolor.button {
    background-color: #00afe3;
    color: #FFF;
}

header {
    width: 100%;
    background: #000;
    padding: 20px 50px;
    margin-bottom: 20px;
}

header h1 {
    color: #FFF;
}

header h1 img {
    margin-right: 50px;
    vertical-align: middle;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #000;
    padding: 20px;
}

footer a {
    margin: 10px;
    color: #FFF;
}

.players,
.question {
    padding-right: 20px;
}

.login-box .ui.input input::placeholder {
    color: rgba(0,0,0,0.95);
}

.main-content {
    padding-bottom: 70px;
}
